@use '@scss/config' as *;

%tabs {
  background-color: var(--bg-clr-dark);
  border-radius: $border-radius;
}

%link {
  --hover-clr: var(--bg-clr-darker);
  --active-clr: var(--bg-clr);

  @extend %tabs;
  @extend %clickable;

  display: block;
  padding: 0.5rem 1rem;
  color: var(--text-clr);
  text-decoration: none;
}
