@use '@scss/config' as *;

%input {
  @extend %border-template;

  min-width: clamp(var(--min-width, 0px), var(--width, 0px), 100%);
  height: $input-height;
  padding: 1rem;

  color: var(--text-clr);
  text-overflow: ellipsis;

  background-color: var(--bg-clr);

  &::placeholder {
    color: var(--text-clr-half);
  }
}
