@use '../styles/config' as *;

%input {
  @extend %border-template;

  height: $input-height;
  padding: 1rem;
  color: var(--text-clr);
  background-color: var(--bg-clr);

  &::placeholder {
    color: var(--text-clr-half);
  }
}
