@use '../../scss/config.scss' as *;

.btn {
  @extend %clickable;

  @include shadowed-focus(--bg-clr-half);

  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 3px solid var(--bg-clr-dark);
  border-radius: var(--border-radius);

  &-small {
    padding: 0.4rem 0.8rem;
    font-size: 0.7rem;
  }

  &-large {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
  }

  @each $color-name, $color in $theme-colors {
    @at-root .bg-#{$color-name} &.bg-#{$color-name} {
      --bg-clr-half: var(--#{$color-name}-light);
    }
  }
}
