@use '@scss/config' as *;

$floatinput-height: 3.5rem;
$label-height: 1rem;

%floatinput {
  position: relative;

  label {
    @extend %transition-base;
    @extend %truncate;

    cursor: text;

    position: absolute;
    top: calc(($floatinput-height - $label-height) / 2);
    left: 1rem;

    padding: 0 3px;

    line-height: $label-height;

    background-color: var(--bg-clr);

    transition-property: color, font-size, top;
  }

  input {
    height: $floatinput-height;
    font-size: 1rem;

    &::placeholder {
      font-size: 0;
    }

    &:focus + label,
    &.active + label {
      top: calc($label-height / -2);
      font-size: 0.8rem;
      color: var(--text-clr-half);
    }
  }
}
