@use '@scss/config' as *;

$floatinput-height: 2.75rem;

%floatinput {
  position: relative;

  label {
    @extend %transition-base;

    cursor: text;

    position: absolute;
    top: 1px;
    left: 0;

    padding: 0 0.75rem;

    line-height: $floatinput-height;

    transition-property: color, font-size, line-height;
  }

  input {
    height: $floatinput-height;
    padding: 1.75rem 1rem 1rem;

    &::placeholder {
      font-size: 0;
    }

    &:focus + label,
    &.active + label {
      font-size: 0.75rem;
      line-height: 1.5rem;
      color: var(--text-clr-half);
    }
  }
}
