%clickable {
  --hover-clr: var(--bg-clr-light);
  --active-clr: var(--bg-clr-dark);

  &:not([aria-disabled='true']) {
    cursor: pointer;

    &:hover {
      background-color: var(--hover-clr);
    }

    &:active {
      background-color: var(--active-clr);
    }
  }

  &[aria-disabled='true'] {
    cursor: not-allowed;
    color: var(--text-clr-half);

    &:active {
      pointer-events: none;
    }
  }
}
