@use '../functions/colors/set-theme' as *;

%clickable {
  // bg variables
  --bg-clr-hover: var(--bg-clr);
  --bg-clr-active: var(--bg-clr);

  // text variables
  --text-clr-hover: var(--text-clr);
  --text-clr-active: var(--text-clr);

  @include set-theme;

  &:not([aria-disabled='true']) {
    cursor: pointer;

    &:hover {
      @include set-theme(--text-clr-hover, --bg-clr-hover);
    }

    &:active {
      @include set-theme(--text-clr-active, --bg-clr-active);
    }
  }

  &[aria-disabled='true'] {
    cursor: not-allowed;
    color: var(--text-clr-half);

    &:active {
      pointer-events: none;
    }
  }
}
