@use 'sass:map';
@use './lch-palette-init' as *;

@mixin lch-palette-from(
  $name,
  $base-lch,
  $l: map.get($base-lch, l),
  $c: map.get($base-lch, c),
  $h: map.get($base-lch, h),
  $a: map.get($base-lch, a)
) {
  @include lch-palette-init($name, $l, $c, $h, $a);
}
