@use '@scss/config' as *;

%field {
  display: grid;
  grid-template-columns: auto 1fr;

  > * {
    display: inline-block;
    vertical-align: top;
  }

  label {
    width: 150px;
    margin-right: 1rem;
    line-height: $input-height;
    overflow-wrap: break-word;
  }
}
