@use '@scss/config' as *;

%field {
  display: flex;
  gap: 1rem;

  label {
    max-width: $field-label-max-height;
    line-height: $input-height;

    & + * {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 1rem;
      align-items: flex-start;

      line-height: $input-height;
    }
  }
}
