@use 'sass:map';
@use '../functions' as *;
@use '../variables' as *;

@each $theme, $lch in $theme-colors {
  $text: if(map.get($lch, l) <= $light-threshold, light, dark);

  .bg-#{$theme},
  %bg-#{$theme} {
    @include palette_replace(--bg-clr, --#{$theme});
    @include palette_replace(--text-clr, --#{$text});
    @include palette_replace(--shadow-clr, --shadow-#{$text}-clr);

    @include set-theme;
  }

  .bg-#{$theme} .bg-#{$theme} {
    $light-or-dark: $theme == light or $theme == dark;
    $half-color: if($light-or-dark, shadow-clr, bg-clr-light);

    --bg-clr-half: var(--#{$half-color});
  }
}
