@use 'sass:list';
@use '../functions' as *;

@include describe('flex') {
  .flex {
    &-column {
      flex-direction: column !important;
    }

    &-wrap {
      flex-wrap: wrap !important;
    }

    &-column-reverse {
      flex-direction: column-reverse !important;
    }

    &-wrap-reverse {
      flex-wrap: wrap-reverse !important;
    }
  }

  @each $property in (align-items, align-content, justify-content) {
    @each $value in (center, start, end) {
      .#{$property}-#{$value} {
        #{$property}: $value !important;
      }
    }
  }

  @each $property in (align-content, justify-content) {
    .#{$property} {
      $values: if($property == justify-content, 'space-evenly', 'stretch');
      $values: list.join((space-between, space-around, space-evenly), $values);

      @each $value in $values {
        &-#{$value} {
          #{$property}: $value !important;
        }
      }
    }
  }
}