%clickable {
  &:hover {
    background-color: var(--bg-clr-light);
  }

  &:active {
    background-color: var(--bg-clr-dark);
  }
}

%transition-base {
  transition-timing-function: ease;
  transition-duration: 350ms;
}

%emoji {
  margin: 0;
  padding: 0;
  vertical-align: middle;

  &::before {
    cursor: pointer;
    content: var(--emoji, '😀');

    display: block;

    font-size: 2rem;
    line-height: 1;
  }
}
