@use 'sass:map';
@use './functions' as *;

// colors
$primary: lch-create(60%, 50%, 255deg);
$theme-colors: (
  primary: $primary,
  secondary: lch-from($primary, $c: 0%),
  info: lch-from($primary, $h: 200deg),
  success: lch-from($primary, $h: 140deg),
  danger: lch-from($primary, $h: 30deg),
  warning: lch-from($primary, $h: 85deg, $l: 85%),
  light: lch-create(98%, $mul: 1),
  dark: lch-create(25%, $mul: -1),
);
$util-colors: (
  link-clr: lch-create(55%, 50%, 250deg),
  shadow-light-clr: lch-create(100%, 0, 0, 25%),
  shadow-dark-clr: lch-create(0, 0, 0, 25%),
);

// modificators
$spacers: (
  auto: auto,
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem,
);
$percents: (
  0: 0,
  25: 25,
  50: 50,
  75: 75,
  100: 100,
);

// properties
$breakpoint: 768px;
$border-radius: 0.5rem;
$shadowed-focus-width: 5px;
$input-height: 2rem;
$floatinput-height: 2.75rem;
$field-label-max-height: 200px;
