@use 'sass:map';
@use './config' as *;

@forward './config';

:root {
  @each $name, $color in map.merge($theme-colors, $util-colors) {
    @include lch-palette-init(--#{$name}, $color...);
  }

  @extend %bg-light;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
}

@debug 'styles compiled successfully';
